	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
    body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
    td,th,caption { font-size:14px; }
    h1, h2, h3, h4, h5, h6 { font-weight:normal; }
    address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
    a { color:#555; text-decoration:none; }
    a:hover { text-decoration:underline; }
    img { border:none; }
    ol,ul,li { list-style:none; }
    input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
    table { border-collapse:collapse; }
    html {overflow-y: scroll;} 
    .clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
    .clearfix { *zoom:1; }
	.clear{clear: both;}
	.click-on-nav{
	color: rgb(184,3,4);
}
@font-face{
font-family: myFont1;
src: url('../font/Gagalin-Regular.eot');   
src: url('../font/Gagalin-Regular.eot?#iefix') format('embedded-opentype'),   
    url('../font/Gagalin-Regular.woff') format('woff'),   
    url('../font/Gagalin-Regular.ttf') format('truetype'),   
    url('../font/Gagalin-Regular.svg#Gagalin-Regular') format('svg');  
}
@font-face{
	font-family: myFont2;
	src: url('../font/zhong.eot');   
    src: url('../font/zhong.eot?#iefix') format('embedded-opentype'),   
        url('../font/zhong.woff') format('woff'),   
        url('../font/zhong.ttf') format('truetype'),   
        url('../font/zhong.svg#zhong') format('svg'); 
}
div{
    word-break:break-all;
}
button{
    outline: none;
}
input{
    outline: none;
}