.footer{
	width: 100%;
	height: 183px;
	background-color: #00A896;
}
.footer_inner{
	width:1006px;
	margin: 0px auto;
}
.footer_nav_content_a_1{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 37px;
}
.footer_nav_content_a_2{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 140px;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 37px;
}
.footer_nav_content_a_3{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 140px;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 37px;
}
.footer_nav_content_a_4{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 140px;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 37px;
}
.footer_nav_content_a_5{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	margin-left: 140px;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 37px;
}
.footer_nav_content_a_1:hover,.footer_nav_content_a_2:hover,.footer_nav_content_a_3:hover,.footer_nav_content_a_4:hover,.footer_nav_content_a_5:hover{
	text-decoration: underline;
}
.footer_nav_middle_xinlang{
	float: left;
	margin-top: 29px;
	margin-left: 358px;
}
.footer_nav_middle_wechat{
	float: left;
	margin-left: 85px;
	margin-top: 31px;
}
.footer_nav_middle_chrome{
	float: left;
	margin-left: 92px;
	margin-top: 29px;
}
.footer_bottom_address{
	margin-top: 13px;
	clear: both;
	text-align: center;
	color: white;
	font-size: 16px;
}
@media screen and (max-width: 1006px){
	.footer_inner{
		width: 950px;
	}
	.footer_nav_content_a_5,.footer_nav_content_a_4,.footer_nav_content_a_3,.footer_nav_content_a_2{
		margin-left: 125px;
	}
}
